@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,300;0,400;1,100&display=swap');

@import 'Colors.scss';

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	transition: all 0.1s ease-out;
}

.content {
	.items {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		.item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			text-align: center;
			margin: 10px;
			padding: 10px;
			min-width: 100px;
			transition: all 0.15s ease-in-out;
			cursor: pointer;
			.thumbnail {
				margin-bottom: 10px;
				svg {
					color: $jet;
					width: 100%;
					height: 100%;
					max-width: 80px;
				}
				img {
					max-width: 80px;
					max-height: 100px;
				}
			}
		}
		.item:hover {
			background-color: $color1;
		}
		.item:active {
			background-color: $color3;
		}
	}

	.previewer {
		z-index: 100;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: rgba($color: $jet, $alpha: 0.5);
		.content {
			text-align: center;
			img {
				max-height: 85vh;
				max-width: 95vw;
				border-radius: 5px;
			}
			figcaption {
				background-color: rgba($color: $jet, $alpha: 0.2);
				padding: 5px;
				margin-top: 10px;
				border-radius: 5px;
				color: white;
				font-weight: 200;
			}
		}
		.btn {
			color: white;
			cursor: pointer;
			position: fixed;
			width: 48px;
			height: 48px;
			border-radius: 100%;
			svg {
				width: 100%;
				height: 100%;
			}
			margin: 5px;
		}
		.btn:not(.close, .save):hover {
			background-color: rgba($color1, 0.3);
		}
		.prev,
		.next {
			width: 64px;
			height: 64px;
		}
		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
		.save,
		.close {
			right: 0;
			top: 0;
		}
		.save {
			right: 48px;
		}
	}
	.creator {
		z-index: 1;
		.btn {
			position: fixed;
			display: flex;
			justify-content: center;
			bottom: 0;
			right: 0;
			border: 25px solid white;
			padding: 6px;
			border-radius: 50%;
			background-color: white;
			box-shadow: 0px 0px 0px 1px $color1 inset;
			cursor: pointer;
			transition: 0.7 all ease-in-out;
			svg {
				width: 100%;
				height: 100%;
			}
		}
		.btn:hover,
		.btn.active {
			background-color: $color1;
			svg {
				transform: rotate(-90deg);
			}
		}
		.menu {
			position: fixed;
			display: flex;
			flex-direction: column;
			bottom: 77px;
			right: 77px;
			background-color: $color1;
			color: $color2;
			border-radius: 5px;

			.option {
				padding: 15px 60px 15px 20px;
				cursor: pointer;
				p {
					min-width: 150px;
				}
			}
			.option:not(:last-child) {
				border-bottom: white 1px solid;
			}
		}
	}
}
